
Project UFO/Temp/UnityLockfile
Project UFO/.vs/Project UFO/v16/Browse.VC.opendb
Project UFO/Assets/czanik_andras_ufo_project.unitypackage
Project UFO/Assets/czanik_andras_ufo_project.unitypackage.meta
Project UFO/Assets/Plug-Ins/Real Stars Skybox/StarSkybox04/CubemapStars.cubemap
Project UFO/Assets/Plug-Ins/Real Stars Skybox/StarSkybox04/CubemapStars.cubemap.meta
Project UFO/Assets/Plug-Ins/Real Stars Skybox/StarSkybox04Named/CubemapStarsNamed.cubemap
Project UFO/Assets/Plug-Ins/Real Stars Skybox/StarSkybox04Named/CubemapStarsNamed.cubemap.meta
Project UFO/Assets/Plug-Ins/Real Stars Skybox/StarSkybox04NamedConstell/CubemapStarsNamedConstellations.cubemap
Project UFO/Assets/Plug-Ins/Real Stars Skybox/StarSkybox04NamedConstell/CubemapStarsNamedConstellations.cubemap.meta
